.chat-main
  .chat-main__header
    .chat-main__header__current-group
      %h2.chat-main__header__current-group__member-name
        〇〇期 エンジニアクラス
      %ul.chat-main__header__current-group__member-list
        %li.chat-main__header__current-group__member-list__member
        山田 井上 佐伯
    .chat-main__header__edit
      = link_to "#" do
        Edit
  .chat-main__message
    .chat-main__message__line
      .chat-main__message__line__name
        masa
      .chat-main__message__line__date
        2020/05/20
    .chat-main__message__review
      おはようございます!
  .chat-main__form
    %form.new__message
      .input-box
        %input.input-box__text{type: "text",placeholder: "type a message" }
        %label.input-box__image
          = icon('fas','image')
          %input{type:"file", class:"input-box__image__file"}
      %input{type:"submit" ,class:"submit-btn" ,name:"commit" ,value:"Send"}